.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 9px;
  height: 69px;
}

.icon {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  background: #362f2f;
  position: relative;
  cursor: pointer;
  padding-left: 50px;
  &__line {
    width: 21px;
    height: 4px;
    background: #fff;
    position: absolute;
    display: inline-block;
    right: 30%;
    border-radius: 1px;
    &:nth-child(1) {
      top: 16px;
    }
    &:nth-child(2), &:nth-child(3)  {
      top: 24px
    }
    &:nth-child(4) {
      top: 32px;
    }
  }
  &-close {
    background: none;
    border: 1px solid #949090;
  }
}

.navigation {
  display: flex;
  max-width: 620px;
  width: 100%;
  justify-content: space-between;
}

.icon-close .icon__line {
  background: #362f2f;
}

.icon-close .icon__line:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.icon-close .icon__line:nth-child(2) {
  transform: rotate(45deg);

}

.icon-close .icon__line:nth-child(3) {
  transform: rotate(-45deg);
}

.icon-close .icon__line:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.menu {
  display: flex;
  flex-direction: row;
  font-family: RobotoCondensed-Bold;
  font-size: 14px;
  text-transform: uppercase;
  display: none;
  height: 60px;
  align-items: center;
  &__item {
    padding: 0 8px 5px 8px;
    text-align: center;
    position: relative;
    &-link {
      color: #362f2f;
    }
    &:hover {
      border-bottom: 1px solid #f3c90c;
    }
  }
  &-none {
    display: flex;
    justify-content: space-between;
    max-width: 405px;
    width: 100%;
  }
}

.navigation li:hover > ul {
  display: block;
}

.submenu {
  position: absolute;
  top: 26px;
  right: -16px;
  background: #fff;
  padding: 23px 0 5px 15px;
  width: 107px;
  display: none;
  z-index: 20;
  &__item {
    text-align: left;
    padding: 5px 0;
    position: relative;
    &:hover {
      color: #c3a000;
    }
    &:hover:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 5px;
      border-color: transparent transparent transparent #362f2f;
      position: absolute;
      top: 11px;
      left: -9px;
    }
    &-link {
      color: #362f2f;
      &:hover {
        color: #c3a000;
      }
    }
  }
}

.submenu-2 {
  left: 92px;
  top: -5px;
  padding-top: 5px;
}

.logo {
  margin-top: -9px;
}

.social-wrap {
  max-width: 502px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 165px;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  &__link {
    &:last-child {
      margin-right: 0;
    }
    .fab, .fas {
      color: #362f2f;
    }
    .fa-facebook-f:hover {
      color: #3b5998;
    }
    .fa-twitter:hover {
      color: #00aced;
    }
    .fa-instagram:hover {
      color: #517fa4;
    }
    .fa-flickr:hover {
      color: #ff0084;
    }
    .fa-google-plus-g:hover {
      color: #dd4b39;
    }
    .fa-envelope:hover {
      color: #aad450;
    }
  }
}

.portfolio-slide {
  background: url("../img/photo.jpg") no-repeat center center;
  background-size: cover;
  height: 1140px;
  width: 100%;
  padding-top: 877px;
}

.slide-info {
  width: 263px;
  height: 263px;
  background: #fff;
  padding-top: 10px;
  position: relative;
  display: none;
  &__hide {
    text-align: right;
    margin-right: 8px;
    .fa-angle-double-left {
      transform: rotate(-45deg);
      color: #c29f00;
      font-size: 20px;
      cursor: pointer;
    }
  }
  &__person {
    margin-top: 30px;
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
    margin-left: 20px;
  }
  &__role {
    font-family: RobotoCondensed-Regular;
    font-size: 14px;
    font-style: italic;
    margin-left: 20px;
  }
  &__slider {
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    &-text {
      max-width: 160px;
      width: 100%;
      line-height: 1.2;
    }
  }
  &__counter {
    position: absolute;
    right: 19px;
    top: 147px;
  }
  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .links-box {
      width: 68px;
      height: 68px;
      text-align: center;
      line-height: 68px;
      margin-top: 27px;
      i {
        color: #c29f00;
        cursor: pointer;
      }
    }
  }
}

.slide-info__slider-navigation {
  display: flex;
  flex-wrap: wrap;
  &-left, &-right {
    min-width: 34px;
    height: 34px;
    background: #362f2f;
    text-align: center;
    cursor: pointer;
    .fa-angle-left, .fa-angle-right {
      color: #fff;
      font-size: 20px;
      line-height: 34px;
    }
  }
}

.portfolio-slide-btn {
  width: 68px;
  height: 68px;
  text-align: center;
  line-height: 68px;
  margin-top: 195px;
  background: #fff;
   i {
     transform: rotate(-45deg);
     color: #c29f00;
     font-size: 20px;
     cursor: pointer;
   }
}

.sect-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 62px;
}

.workshop {
  max-width: 360px;
  width: 100%;
  background: black;
  padding-bottom: 21px;
  height: 381px;
  &__photo {
    margin-bottom: 25px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__box {
    color: #fff;
    text-align: center;
    &-headline {
      font-family: RobotoCondensed-Light;
      font-size: 18px;
      text-transform: uppercase;
    }
    &-date {
      font-family: RobotoCondensed-Regular;
      font-size: 16px;
      margin: 15px 0;
    }
    &-time {
      font-family: RobotoCondensed-Light;
      font-size: 14px;
    }
  }
  &__btn {
    min-width: 67px;
    height: 67px;
    background: #c3a000;
    border: none;
    margin: 30px auto 0;
    display: block;
    font-family: RobotoCondensed-Bold;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  }
}

.news {
  max-width: 360px;
  width: 100%;
  &__headline {
    font-family: RobotoCondensed-Bold;
    font-size: 16px;
    position: relative;
    margin-bottom: 33px;
    &:before {
      content: "";
      position: absolute;
      width: 165px;
      height: 1px;
      background: #c3a000;
      top: 27px;
      left: 0;
    }
  }
  &__post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    &:last-child {
      margin-bottom: 0;
    }
    &-box {
      color: #362f2f;
      font-family: RobotoCondensed-Regular;
      max-width: 262px;
      width: 100%;
      &-headline {
        font-family: RobotoCondensed-Bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #362f2f;
      }
      &-date {
        font-size: 11px;
        color: #7a7a7a;
      }
      &-text {
        font-size: 12px;
        a {
          font-family: RobotoCondensed-Bold;
          color: #c3a000;
          margin-left: 25px;
        }
      }
    }
  }
}

.contact {
  max-width: 360px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  &-top {
    display: flex;
    max-width: 270px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  &__social {
    max-width: 142px;
    width: 100%;
    &-phone {
      margin-top: 12px;
    }
    &-email {
      margin: 11px 0 18px;
    }
    &-icon {
      color: #362f2f;
      font-size: 12px;
      display: block;
      font-family: RobotoCondensed-Regular;
      i {
        color: #362f2f;
        margin-right: 25px;
        font-size: 12px;
      }
    }
    &-bottom {
      width: 117px;
      margin: 0 auto;
      height: auto;
      i {
        font-size: 12px;
      }
    }
  }
  &-bottom {
    text-align: center;
    margin-top: 80px;
    &-text {
      font-family: RobotoCondensed-LightItalic;
      color: #c3a000;
      margin-top: 15px;
      span {
        color: black;
      }
    }
  }
}

.partners {
  display: flex;
  justify-content: space-between;
  margin: 95px 0;
  flex-wrap: wrap;
  &__box {
    min-width: 200px;
    height: 36px;
    display: flex;
    align-items: center;
  }
}

.footer {
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
  &__copyright {
    margin-top: 50px;
  }
}

//responsive sect-bottom

@media screen and (max-width: 1109px){
  .sect-bottom {
    justify-content: space-evenly;
  }
  .contact {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1109px) {
  .news {
    margin-top: 20px;
  }
}

//responsive partners

@media screen and (max-width: 829px){
  .partners {
    justify-content: space-evenly;
    &__box{
      &:nth-child(4) {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 629px) {
  .partners__box:nth-child(3) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 429px) {
  .partners__box:nth-child(2) {
    margin-top: 20px;
  }
}
